<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{auth/layout}">
  <head>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/auth/login.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/auth/contact.css}">
  </head>
  <body>
    <div layout:fragment="content">
      <div id="info">
          <span>Contato para dúvidas e suporte</span>
          <br/><br/>
          <table>
            <tr><th><span>Telefone(s)</span><br/><span>das 13h às 19h</span></th></tr>
            <tr><td>(61) 3433-7644</td></tr>
            <tr><td>(61) 99439-5296</td></tr>
          </table> 
      </div>
    </div>
  </body>
</html>