<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{auth/layout}">
  <style layout:fragment="style">
    div#info{
      width: 300px;
      margin: auto;
    }
  
    table {
      font-family: Roboto, sans-serif;
      border-collapse: collapse;
      font-size: 14px;
      width: 100%;
    }
    
    table td, table th{
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    
    span{
      color: #654d4d;
    }
    
    button{
      margin: 20px 0;
      float: right;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div id="info">
          <span>Contato para dúvidas e suporte</span>
          <br/><br/>
          <table>
            <tr><th><span>Telefone(s)</span><br/><span>das 13h às 19h</span></th></tr>
            <tr><td>(61) 3433-7644</td></tr>
            <tr><td>(61) 99439-5296</td></tr>
          </table> 
          <button type="button" th:onclick="'location.href=\'' + @{/login} + '\';'">Voltar</button> 
      </div>
    </div>
  </body>
</html>
