<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{auth/layout}">
  <head>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/auth/login.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/auth/forgot-password.css}"/>
  </head>
  <body>
    <div layout:fragment="content">
      <div id="passRecovery">
        <form method="post" th:action="@{/public/forgot-password/recovery}">
          <input type="hidden" id="emailSent" th:if="${emailSent}"/>
          
          <div>
            <h1 class="pageTitle">Recuperação de senha</h1>
            <hr />
          </div>
          
          <div>
            <p >Para recuperar sua senha, informe seu endereço de email que nós enviaremos um link para recuperação de senha.</p>
            <input id="email" name="email" autocomplete="email" type="text" class="app-txtinput" />
          </div>
          
          <br />
          <div> 
            <button type="submit" id="recoveryPass" class="app-green-btn">
              <span>Enviar</span>
            </button>
          </div>
        </form>
      </div>
      
      <script type="text/javascript" th:src="@{/scripts/auth/forgot-password.js}"></script>
    </div>
  </body>
</html>
