<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{auth/layout}">
  <style layout:fragment="style">
    body{
        width: 50%;
    }
    
    form{
      width: 40%;
    }
    
    #recoveryPass{
        float: right;
    }
    
    .back{
        float: left;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div id="passRecovery">
        <form method="post" th:action="@{/public/forgot-password/recovery}">
          <h1>Recuperação de senha</h1>
          <input type="hidden" id="emailSent" th:if="${emailSent}"/>
          <hr />
          
          <br /><br />
          <label for="email">email cadastrado no sistema</label> 
          <br />
          <input id="email" name="email" autocomplete="email" type="text" class="app-txtinput" />
          <br />
          <button type="button" class="back" th:onclick="'location.href=\'' + @{/login} + '\';'">Voltar</button>
           
          <button type="submit" id="recoveryPass" class="app-green-btn">
              <span>Continuar</span>
          </button>
        </form>  
      
      </div>
    </div>
    
    <script layout:fragment="footer-script" th:inline="javascript">
      const emailSent = document.querySelector("input[type=hidden]#emailSent");
      if (emailSent)
    	  alert("E-mail de recuperação enviado");
    </script>
  </body>
</html>
