<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Sorteio de Juízes Militares</title>
<link th:href="@{/styles/global.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/scripts/global.js}"></script>
<style layout:fragment="style"></style>
<script layout:fragment="head-script"></script>
</head>
<body>
  <header>
    <div id="appHBar">
      <a id="appTitle" href="#">Sorteio de Juízes Militares</a>
    </div>
  </header>
  <br />
  <br />
  <!-- end header -->
  <!-- content -->
  <div layout:fragment="content"></div>
  <script layout:fragment="footer-script"></script>
  <!-- footer -->
</body>
</html>
