<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{auth/layout}">
  <style layout:fragment="style">
    fieldset {
      margin: 64px auto;
      width: 400px;
    }
  
    form {
      text-align: center;
    }
  
    button#returnBtn{
      float: right;
    }
    
    button#resetPassBtn{
      float: left;
    }
    
    button#resetPassBtn span {
      display: block;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div>
        <fieldset>
          <legend>Definir nova senha</legend>
          <form onsubmit="return validatePass()" id="resetPassForm" th:object="${user}" method="POST" 
            th:action="@{/lu/user/password/reset}">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{username}"/> 
            <input type="hidden" th:field="*{credentialsExpired}"/> 
            <div class="error" id="msgError">
              <span style="border: none !important;" th:text="${msg}"></span>
            </div>
            <label>Nova senha</label><br/>
            <div th:if="${#fields.hasErrors('password')}">
              <span class="error" th:errors="*{password}"></span>
            </div>
            <input id="pass" type="password" th:field="*{password}"
               class="app-txtinput" th:classappend="${#fields.hasErrors('password')} ? 'error' : ''"/><br/>
            <br /><br />
            <label for="password">Confirmar nova senha</label>
            <br />
            <input id="confirmPass" type="password" class="app-txtinput" />
            <br /><br />
            <br/>
            <div>
              <button type="button" id="returnBtn" th:onclick="'location.href=\'' + @{/logout} + '\';'">
                <span>Voltar</span>
              </button>
              <button type="submit" id="resetPassBtn">
                <span>Enviar</span>
              </button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
    <script layout:fragment="footer-script">
    	let resetPassBtn = document.getElementById("resetPassBtn");
    	let passwordInput = document.getElementById("pass");
    	let confirmPasswordInput = document.getElementById("confirmPass");
    	
    	function validatePass(){
    		if (!(passwordInput.value === confirmPasswordInput.value)){
    			console.log(document.getElementById("msgError").children[0].innerHTML = "Senhas diferentes");
    			return false;
    		}
    	}
    </script>
  </body>
</html>
