<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{auth/layout}">
  <style layout:fragment="style">
    fieldset {
      margin: 64px auto;
      width: 400px;
    }
  
    form {
      text-align: center;
      width: 50%;
    }
  
    button#returnBtn{
      float: left;
    }
    
    button#resetPassBtn{
      float: right;
    }
    
    button#resetPassBtn span {
      display: block;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div>
        <fieldset>
          <legend>Definir nova senha</legend>
          <form method="POST" th:action="@{/lu/accounts/password/reset/save}" id="resetPassForm" th:object="${user}">
            <label>Nova senha</label><br/>
            <div th:if="${#fields.hasErrors('password')}">
              <span id="passError" class="error" th:errors="*{password}"></span>
            </div>
            <input id="pass" type="password" th:field="*{password}"
               class="app-txtinput" th:classappend="${#fields.hasErrors('password')} ? 'error' : ''"/><br/>
            <br /><br />
            <label for="password">Confirmar nova senha</label>
            <br />
            <input id="confirmPass" type="password" class="app-txtinput" />
            <br /><br />
            <br/>
            <div>
              <button type="button" id="returnBtn" class="app-gray-btn" th:onclick="'location.href=\'' + @{/logout} + '\';'">
                <span>Voltar</span>
              </button>
              <button type="button" id="resetPassBtn" class="app-green-btn">
                <span>Enviar</span>
              </button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
    <script layout:fragment="footer-script">
      const submitBtn = document.querySelector("button#resetPassBtn");
      const password = document.querySelector("input#pass");
      const passwordConfirm = document.querySelector("input#confirmPass");
      const form = document.querySelector("form#resetPassForm");
    
      submitBtn.addEventListener("click", function(){
    	  if (validatePass(password.value, passwordConfirm.value)){
    		  form.submit(); 
    	      
	      }else{
	        if (document.querySelector(".diff-pass") == null){
	          let span = document.createElement("span");
	          span.classList.add("error");
	          span.classList.add("diff-pass");
	          span.style.display="block";
	          span.textContent = "Senhas diferentes";
	          
	          form.firstElementChild.append(span);
	        }
	      }
      });	
    </script>
  </body>
</html>
