<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{management/layout}">
  <style layout:fragment="style">
    div .list-header{
      float: right;
      width: 90%;
    }
    
    div .list-info{
      float: right;
      width: 90%;
    }
    
    div .draw-soldier-list{
      height: 80px;
    }
    
    input.selDrawList {
      margin-top: 30px;
    }
        
  </style>
  
  <body>
    <div layout:fragment="content">
      <form id="drawForm" class="multipleForm" th:object="${draw}">
        <!-- SCREEN 0 -->
        <div class="tab tab1" th:if="${!editMode}">
                    
        <h1>Novo Sorteio</h1>
        <h2>Configurações Gerais:</h2>
        
        <div>
          <label>Conselho de Justiça:</label><br/>
          
          <select id="councilSelect" class="app-select" th:field="*{justiceCouncil}">
            <option th:each="council : ${councils}" th:value="${council.id}" 
              th:text="${council.name}">
            </option>
          </select>
        </div>
        
        <div>
          <label>Força Armada:</label><br/>
          
          <select id="armySelect" class="app-select" th:field="*{army}">
            <option th:each="army : ${armies}" th:value="${army.id}" 
              th:text="${army.name}">
            </option>
          </select>
        </div>
        
        <div id="annualQuarter">
          <label>Trimestre:</label><br/>
          <div th:if="${#fields.hasErrors('drawList.quarterYear')}">
            <span class="error" th:errors="*{drawList.quarterYear}" data-tabid="0"></span>
          </div>
          <select id="quarterSelect" class="app-select" th:name="drawList.quarterYear">
            <option th:each="quarter : ${quarters}" th:value="${quarter.toShortFormat()}" 
              th:text="${quarter.description}"
              th:selected="${quarter.toShortFormat() eq selectQuarter}">
            </option>
          </select>
        </div>
        
        <div th:if="${draw.councilType == T(br.com.javamoon.domain.draw.CouncilType).CEJ}">
          <label>Nº do Processo:</label><br/>
          <div th:if="${#fields.hasErrors('processNumber')}">
            <span class="error" th:errors="*{processNumber}" data-tabid="0"></span>
          </div>
          <span th:if="${#fields.hasErrors('processNumber')}" class="error" th:errors="*{processNumber}"></span>
          
          <input type="text" th:field="*{processNumber}" class="app-txtinput"
            th:classappend="${#fields.hasErrors('processNumber')} ? 'error' : ''"/>
        </div>
      </div>
    
    
      <!-- SCREEN 1 -->    
      <div class="tab">
        <h2>Seleção de lista:</h2>
        
        <div class="empty-list" th:if="${#lists.isEmpty(drawSoldierList)}">
          <span>Não foram encontradas listas para este trimestre. </span>
        </div>
        
        <div th:if="${#fields.hasErrors('drawList.id')}">
          <span class="error" th:errors="*{drawList.id}" data-tabid="1"></span>
        </div>    
        <div th:each="drawSoldiers : ${drawSoldierList}">
                
          <div class="draw-soldier-list">
            <input class="selDrawList" name="selDrawList" th:field="*{drawList.id}" th:value="${drawSoldiers.id}" type="radio"/>
            
            <div class="list-header">
              <span th:text="'[' + ${drawSoldiers.quarterYear} + ']' + ' ' + ${drawSoldiers.description}"></span>
            </div>
            
            <div class="list-info">
              <span>criado em:</span>
              <span th:text="${drawSoldiers.creationDate}"></span> 
              <span> | </span>
              <span>ultima modificação:</span>
              <span th:text="${drawSoldiers.updateDate}"></span>
            </div>
            <br/>
            
          </div>
     	</div>    
      </div>
      
      
      <!-- SCREEN 2 -->
      <div id="ranks" class="tab">
        <h1 th:text="${draw.justiceCouncil.name}"></h1>
        
        <h2>Seleção de postos:</h2>
        
        <div th:if="${#fields.hasErrors('ranks')}">
          <span class="error" th:errors="*{ranks}" data-tabid="2"></span>
        </div>
        <div class="ranks" th:each="i : ${#numbers.sequence(1, draw.justiceCouncil.councilSize)}">
          <select class="app-select ranks" name="ranks">
            <option th:each="rank : ${ranksByArmy}" th:value="${rank.id}"
              th:selected="${
                                !#lists.isEmpty(draw.ranks) and 
                                i <= #lists.size(draw.ranks) and
                                rank.id eq draw.ranks[i - 1].id
                             }" 
              th:text="${rank.name}"></option>
          </select>
        </div>
        
        <button th:if="${#lists.isEmpty(draw.soldiers)}" type="button" id="randAll" class="app-green-btn"
          onclick="nextPrev(1)">Sortear todos</button>
        <br/>
      </div>
      
      
      <!-- SCREEN 3 -->
      <div class="tab" th:if="${!#lists.isEmpty(draw.soldiers)}">
        <h1 th:text="${draw.justiceCouncil.name}"></h1>
        
        <h2>Militares sorteados:</h2>
          
        <div class="soldiers" th:each="soldier : ${draw.soldiers}">
          <div>
            <input type="hidden" class="sdId" name="soldiers" th:value="${soldier.id}">
            
            <button class="replaceSoldier" type="button" title="substituir" th:attr="data-sid=${soldier.id}">
            <img th:src="@{/images/refresh.svg}">
            </button>
            
            <button type="button" class="accordion" 
              th:text="${soldier.name} + ' ' + ${soldier.impedimentStatusAsText}"
              th:classappend="${soldier.hasImpediment() ? 'highlight-impediment' : ''}"></button>
            
            <div class="panel">
              <div class="sdInfo">
                <div>
                  <label>Organização Militar</label><br />
                  <span th:text="${soldier.omAliasAndName}"></span>
                </div>
                
                <div>
                  <label>Posto</label><br />
                  <span th:text="${soldier.militaryRank.name}"></span>
                </div>
                
                 <br/><br/>
                                
                <div>
                  <label>E-mail</label><br />
                  <span th:text="${soldier.email}"></span>
                </div>
                
                <div>
                  <label>Telefone</label><br />
                  <span th:text="${soldier.phone}"></span>
                </div>
              </div>
                
              <br/><br/><br/>
                
              <div class="impediment" th:each="exclusion : ${soldier.customExclusions}">
                <div class="impediment-header">
                  <span th:text="${exclusion.periodAsText}"></span>
                </div>
                
                <p th:text="${exclusion.message}"></p><br/>
              </div>
            </div>
          </div>
        </div>
        
        <button id="saveDraw" type="button" class="app-green-btn">Salvar Sorteio</button>
          
        <div class="cancelDraw" th:if="${!editMode}">
          <a th:href="@{/mngmt/dw/home(complete=true)}">cancelar sorteio</a>
        </div>
      </div>
      
      <br/>
      <div style="overflow:auto;width: 100%;">
        <div style="float:right;">
          <button type="button" id="prevBtn" class="app-gray-btn" onclick="nextPrev(-1)">Voltar</button>
          <button type="button" id="nextBtn" class="app-green-btn" onclick="nextPrev(1)">Próximo</button>
        </div>
      </div>
      
      <div style="text-align:center;margin-top:40px">
        <span class="step" th:if="${!editMode}"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step" th:if="${!#lists.isEmpty(draw.soldiers)}"></span>
      </div>
    </form>
  </div>
      
  <script layout:fragment="page-script" th:inline="javascript">
  	const HOME_URL = '[(@{/mngmt/dw/home})]';
  	const RAND_ALL_URL = '[(@{/mngmt/dw/sdrand/all})]';
  	const REPLACE_SOLDIER_URL = '[(@{/mngmt/dw/sdrand/replace})]'
  	const SAVE_DRAW_URL = '[(@{/mngmt/dw/save})]'
  	
  	addElementListeners();
  	
  	setDefaultTab();
  	
  	showSubstituteOnOptions();
  	
  	accordion(document.getElementsByClassName("accordion"));
  	
  	showSuccessMsgIfExists();
  	
  	document.querySelectorAll(".selDrawList")[0].checked = true;
  	
  	function setDefaultTab(){
  		const tabsDiv = document.getElementsByClassName("tab");
  		const errors = document.querySelectorAll(".error");
  		
  		if (errors.length > 0)
  	  		showTab(errors[0].dataset.tabid);
  		else if (hasDrawnSoldiers())
  			showTab(tabsDiv.length - 1);
  	  	else
  	  		showTab(0);
  	}
  	
  	function randAll(){
  		drawForm.action = RAND_ALL_URL;
    	drawForm.method = 'GET';
    	drawForm.submit();	
  	}
  	
  	function saveDraw(){
  		location.href = SAVE_DRAW_URL;	
  	}
  	
  	function submitFormChanges(){
    	drawForm.action = HOME_URL;
    	drawForm.method = 'GET';
    	drawForm.submit();
    }
  	
  	function hasDrawnSoldiers(){
  	  const soldiersDiv = document.getElementsByClassName("soldiers");
  	  return soldiersDiv.length > 0;
    }
  	
  	function setReplaceSoldierListeners(){
  	  const replaceSoldierBtns = document.querySelectorAll('button.replaceSoldier');
  	  
  	  for (let i = 0; i < replaceSoldierBtns.length; i++){
  		  replaceSoldierBtns[i].addEventListener('click', function(){
  			  let ranksSelect = document.querySelectorAll("select.ranks")[i];
  			  let rankId = ranksSelect.options[ranksSelect.selectedIndex].value;
  			  location.href = '[(@{/mngmt/dw/sdrand/replace/})]' + rankId + "/" + replaceSoldierBtns[i].dataset.sid;
  		  });
  	  }
    }
  	
  	function showSubstituteOnOptions(){
  		const ranks = document.querySelectorAll("select.ranks");
  		let options = ranks[1].options;
  		
  		for (let i = 0; i < options.length; i++)
  			options[i].text += " (suplente)";
  	}
  	
  	function showSuccessMsgIfExists(){
        const successMsg = '[(${successMsg})]';
        
        if (successMsg)
    		alert(successMsg);
    }
  	
  	function addElementListeners(){
  		const councilSelect = document.querySelector('#councilSelect');
  	  	councilSelect != null ? councilSelect.addEventListener('change', submitFormChanges) : '';
  	  	
  	  	const armySelect = document.querySelector('#armySelect');
  	  	armySelect != null ? armySelect.addEventListener('change', submitFormChanges) : '';
  	  	
  	  	const quarterSelect = document.querySelector('#quarterSelect');
  	  	quarterSelect != null ? quarterSelect.addEventListener('change', submitFormChanges) : '';
  	  	
  	  	const randAllBtn = document.querySelector("button#randAll");
  	  	randAllBtn != null ? randAllBtn.addEventListener('click', randAll) : '';
  	  	
  	  	const saveDrawBtn = document.querySelector("button#saveDraw");
  	  	saveDrawBtn != null ? saveDrawBtn.addEventListener('click', saveDraw) : '';
  	  	
  	  	setReplaceSoldierListeners();
  	}
  </script>
  </body>
</html>