<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{management/layout}">
  
  <style layout:fragment="style">
    span.deleted-by-om{
      color: red;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div id="paginationSearchMenu">
        <div id="pages" class="pages">
        </div>  
        <div id="search">
          <input id="searchInput" th:value='${key}' type="text" placeholder="Pesquisar...">
          <input id="searchBtn" type="button" value="buscar" th:attr="data-armyid=${army.id}">
        </div>
      </div>
      
      <table id="soldiers">
        <thead>
          <tr>
            <th>Nome</th>
            <th>OM</th>
            <th>Posto</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="soldier : ${soldiers}">
            <td><span th:classappend="${!soldier.enabledForDraw} ? 'deleted-by-om' : ''" th:text="${soldier.name}"></span></td>
            <td><span th:text="${soldier.militaryOrganization.alias}"></span></td>
            <td><span th:text="${soldier.militaryRank.alias}"></span></td>
            <td><span th:text="${soldier.army.alias}"></span></td>
            <td><a th:href="@{/mngmt/sd/profile/} + ${soldier.id}">exibir perfil</a></td>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script layout:fragment="page-script" th:inline="javascript">
        const pagNext = document.querySelector("#pagNext");
    	const pagPrev = document.querySelector("#pagPrev");
    	
    	let paginationURL = '[(@{${paginationURL}})]';
    	
    	let currentPage = '[(${paginationSearchFilter.selectedPage})]';
    	const paginationFirstResult = '[(${paginationSearchFilter.firstResult})]';
    	const paginationLastResult = '[(${paginationSearchFilter.lastResult})]';
    	const paginationTotal = '[(${paginationSearchFilter.total})]';
    	
    	showPages(paginationFirstResult, paginationLastResult, paginationTotal, currentPage);
    	
    	const searchSoldierURL = '[(@{/mngmt/sd/search/})]';
		const searchBtn = document.querySelector("#searchBtn");
    	
    	searchBtn.addEventListener('click', function(){
    		let key = document.querySelector("#searchInput").value;
    		let armyId = searchBtn.dataset.armyid;
    		location.href = searchSoldierURL + armyId + "/" + key + "/0"; 
    	});
    </script>
  </body>
</html>

