<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{group/layout}">
  <style layout:fragment="style">
  
    button.save-soldier {
      float: right;
    }
    
    button#back{
      float: left;
    }
    
    a#deleteSdBtn {
      float: right;
      color: #ff0000;
    }
  </style>
  <body>
    <div layout:fragment="content" class="centered-page">
      <h1>Cadastrar novo militar</h1>
      <hr />
      <div> 
        <form method="post" th:object="${soldier}" th:action="@{/gp/sd/register/save}">
          <div>
            <input type="hidden" th:field="*{id}"/>
            
            <div class="form-step">
              <div class="input-label">        
                <label>Nome* </label><br/>
              </div>
              <div th:if="${#fields.hasErrors('name')}">
                <span class="error" th:errors="*{name}"></span>
              </div>
              <div>
                <input type="text" name="name" placeholder="Nome do militar..." th:field="*{name}"
                   class="app-txtinput" th:classappend="${#fields.hasErrors('name')} ? 'error' : ''"/>
              </div>
            </div>
            
            <div class="form-step">
              <div class="input-label">
                <label for="om">OM* </label><br/>
              </div>
              <div th:if="${#fields.hasErrors('militaryOrganization')}">
                <span class="error" th:errors="*{militaryOrganization}"></span>
              </div>
              <div>
                <select id="om" name="militaryOrganization" class="app-select"
                    th:classappend="${#fields.hasErrors('militaryOrganization')} ? 'error' : ''">
                  <option value="0">Selecione...</option>
                  <option th:each="om : ${oms}" th:value="${om.id}" th:text="${om.name} + ' (' + ${om.alias} + ')'"
                    th:selected="${soldier.militaryOrganization != null and om.id == soldier.militaryOrganization.id}"></option>
                </select>
              </div>
            </div>
            
            <div class="form-step">
              <div class="input-label">
                <label for="rank">Posto* </label>
              </div>
              <div th:if="${#fields.hasErrors('militaryRank')}">
                <span class="error" th:errors="*{militaryRank}"></span>
              </div>
              <div>
                <select id="rank" class="app-select" name="militaryRank"
                  th:classappend="${#fields.hasErrors('militaryRank')} ? 'error' : ''">
                  <option value="0">Selecione...</option>
                  <option th:each="rank : ${ranks}" th:value="${rank.id}" th:text="${rank.name}"
                    th:selected="${soldier.militaryRank != null and rank.id == soldier.militaryRank.id}"></option>
                </select>
              </div>
            </div>
            
            <div class="form-step">
              <div class="input-label">
                <label>Telefone</label>
              </div>
              <div th:if="${#fields.hasErrors('phone')}">
                <span class="error" th:errors="*{phone}"></span>
              </div>
              <div>
                <input type="text" name="phone" placeholder="Telefone residencial ou celular..." th:field="*{phone}"
                  class="app-txtinput" th:classappend="${#fields.hasErrors('phone')} ? 'error' : ''"/>
              </div>
            </div>
            
            <div class="form-step">
              <div class="input-label">
                <label>E-mail*</label>
              </div>
              <div th:if="${#fields.hasErrors('email')}">
                <span class="error" th:errors="*{email}"></span>
              </div>
              <div>
                <input type="text" name="email" placeholder="Email ativo do militar..." th:field="*{email}"
                  class="app-txtinput" th:classappend="${#fields.hasErrors('email')} ? 'error' : ''"/>
              </div>
            </div>
                     
            <br/>
            
            <div>
              <button type="button" id="back" class="app-gray-btn">
                <span>Voltar</span>
              </button>
              
  	          <button type="submit" class="save-soldier edit-soldier app-green-btn">
  	            <span>Salvar</span>
  	          </button>
            </div>
          </div>
        </form>
      </div>
      <br /><br /><br />
        
        <div th:if="${soldierDrawCount} == 0">
          <a href="#"  id="deleteSdBtn" th:attr="data-sid=${soldier.id}">Deletar este militar</a>
        </div>
      </fieldset>
    </div>
    <script layout:fragment="page-script" th:inline="javascript">	
    	const backBtn = document.querySelector("button#back");
    	   
    	backBtn.addEventListener('click', function(){
    		location.href = "[(@{'/gp/dw/list/' + '' + ${session.activeList}})]";
    	});
    	
    	showSuccessMsg();
    	
    	function confirmSoldierRm(url){
    		if (confirm("Após deletar o registro do militar as informações não poderão ser recuperadas. Deseja prosseguir?")){
    			let form = document.createElement('form');
    			form.action = url;
    			form.method = 'post';
    			
    			document.body.appendChild(form);
    			
    			form.submit();
    		}
    	}
    	
    	function showSuccessMsg(){
    		let message = '[(${successMsg})]';
    		if (message){
        		let div = document.createElement('div');
        		div.className = 'successMsg';
        		
        		let span = document.createElement('span');
        		span.textContent = message;
        		
        		div.append(span);
        		
        		let registerFieldset = document.querySelector("fieldset#registerFieldset");
        		registerFieldset.insertBefore(div, registerFieldset.children[1]);
    		}
    	}
    </script>
  </body>
</html>