<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{gp-layout}">
  <style layout:fragment="style">
    textarea#listarea{
      height: 500px;
    }
    
    div#organizationsDiv{
      height: 300px;
      overflow: auto;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div id="content">
        <div id="organizationsDiv">
          <fieldset>
            <legend>OM's Cadastradas</legend>
            <table class="searchableTb" id="organizationsTb">
              <tr>
                <th>OM ALIAS</th>
                <th>ARMY</th>
                 <th colspan="2">
                  <div>
                    <input id="myInput" onkeyup="filterOMByName()" type="text" placeholder="Pesquisar...">
                  </div>
                </th>
              </tr>
              <tr th:each="om : ${militaryOrganizations}">
                <td><span th:text="${om.alias}"></span></td>
                <td><span th:text="${om.army.alias}"></span></td>
              </tr>
            </table>
          </fieldset>
        </div>
        <br/>
        <fieldset>
          <legend>Adicionar Soldados</legend>
          <form method="post" th:action="@{/gp/sd/registerall/save}">
            <div th:if="${msg != null}">
              <span th:text="${msg}"></span>
            </div>
            <select th:name="army">
              <option th:each="army : ${armies}" th:value="${army.id}" th:text="${army.name}"></option>
            </select>
            <br />
            <br />
            <textarea id="listarea" name="jsonlist" rows="100" cols="80"></textarea>
            <br/>
            <button type="submit">submit</button>
          </form>
        </fieldset>
      </div>
    </div>
    <script layout:fragment="page-script">
    </script>
  </body>
</html>