<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{management/layout}">

<style layout:fragment="style">
h1 {
	font-family: "Roboto", sans-serif;
	color: #4e4848;
	font-size: 20px;
	font-weight: bold;
}

select.app-select {
	font-size: 20px;
	border: none;
	width: 40%;
	color: #505050;
}

div.dw-options {
	margin-top: 10px;
}
</style>

<body>
  <div layout:fragment="content">
    <select id="auditorship" class="app-select">
      <option th:each="auditorship : ${auditorships}"
        th:value="${auditorship.id}" th:text="${auditorship.name}"
        th:selected="${auditorship.id} eq ${selectedAuditorship.id}"></option>
    </select>

    <hr />

    <div class="draw-list" th:each="drawMap : ${quarterDrawMap}">
      <div class="quarter">
        <span th:text="${drawMap.key}"></span>
      </div>
      <div th:each="draw : ${drawMap.value}">
        <button th:text="${draw.managementListHeader}" class="accordion"></button>

        <div class="panel">
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>OM</th>
                <th>Posto</th>
                <th>Arma</th>
              </tr>
            </thead>
            <tbody th:each="soldier : ${draw.soldiers}"
              th:classappend="${draw.substitute != null and draw.substitute.id eq soldier.id ? 'highlight-sup': ''}">
              <tr>
                <td><span
                  th:text="${soldier.name} + ${draw.substitute != null and draw.substitute.id eq soldier.id ? ' (SUPLENTE)': ''}"></span></td>
                <td><span
                  th:text="${soldier.militaryOrganization.alias}"></span></td>
                <td><span th:text="${soldier.militaryRank.alias}"></span></td>
                <td><span th:text="${soldier.army.alias}"></span></td>
              </tr>
            </tbody>
          </table>

          <div class="dw-options">
            <a
              th:if="${userAuditorship.id} eq ${selectedAuditorship.id}"
              href="#" class="editDraw" th:attr="data-drawid=${draw.id}">editar</a>
            <span> | </span> <a href="#" class="exportPdf"
              th:attr="data-drawid=${draw.id}">gerar pdf</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script layout:fragment="page-script" th:inline="javascript">
    	accordion(document.getElementsByClassName("accordion"));
    	
    	const auditorshipSelect = document.querySelector('select#auditorship');
    	const exportPdfLink = document.querySelectorAll('a.exportPdf');
    	
    	auditorshipSelect.addEventListener('change', function(){
    		let selectedAuditorship = auditorshipSelect.options[auditorshipSelect.selectedIndex];
    		location.href = '[(@{/mngmt/dw/list/})]' + selectedAuditorship.value;
    	});
    	
    	setExportPdfLinkListeners();
    	
    	setEditDrawLinkListeners();
    	
    	function setExportPdfLinkListeners(){
    		for (let i = 0; i < exportPdfLink.length; i++){
    			exportPdfLink[i].addEventListener('click', function(){
    				let drawId = exportPdfLink[i].dataset.drawid;
    				window.open('[(@{/mngmt/draw/export/pdf/})]' + drawId, '_blank');
    			});
    		}
    	}
    	
    	function setEditDrawLinkListeners(){
    		let isSameAuditorship = '[(${userAuditorship.id} eq ${selectedAuditorship.id})]';
    		console.log(isSameAuditorship);
    		if (isSameAuditorship === 'true'){
            	const editDrawLink = document.querySelectorAll('a.editDraw');
            	
        		for (let i = 0; i < editDrawLink.length; i++){
        			editDrawLink[i].addEventListener('click', function(){
        				let drawId = editDrawLink[i].dataset.drawid;
            			location.href = '[(@{/mngmt/dw/edit/})]' + drawId;
        			});
        		}
    		}
    	}
    </script>
</body>
</html>
