<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{cjm/layout}">

<style layout:fragment="style">
div#accounts {
	height: 80vh;
	overflow: auto;
}
</style>

<body>
  <div layout:fragment="content">
    <div id="accounts">
      <h1>Usuários Ativos</h1>
      <hr />
      <div id="users">
        <table class="default-app-table">
          <thead>
            <tr>
              <th>usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="account : ${accounts}">
              <td><span
                th:text="${account.prettyPrintUsernameAndEmail()}"></span></td>
              <td>
                <div>
                  <a href="#"
                    th:attr="data-deleteurl=@{/cjm/accounts/delete/} + ${account.id}"
                    class="delete-account">delete this account</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br />

    <button type="button" id="back" class="app-gray-btn">
      <span>Voltar</span>
    </button>
  </div>

  <script layout:fragment="page-script" th:inline="javascript">
      const deleteAccountBtns = document.querySelectorAll("a.delete-account");
      
      addDeleteAccountEventListeners();
      
      function addDeleteAccountEventListeners(){
    	  let form;
    	  
    	  for (let i = 0; i < deleteAccountBtns.length; i++){
    		  deleteAccountBtns[i].addEventListener('click', function(){
    			  if (displayDeleteUserConfirmation()){
      			  form = document.createElement("form");
      			  form.method = "post";
      			  form.action = this.dataset.deleteurl;
      			  document.querySelector("div#users").append(form);
      			  form.submit();
    			  }
    		  });
    	  }  
      }
      
      function displayDeleteUserConfirmation(){
    	  return confirm("[Atenção] Após a exclusão o usuário não terá mais acesso ao sistema. Prosseguir com a exclusão da conta?");
      }
      
      const backBtn = document.querySelector("button#back");
      backBtn.addEventListener("click", function(){
        location.href = historyPop();
      });
    </script>
</body>
</html>
