div.app-list{
	position: relative;
}

div.list-header p{
	font-size: 14px;
}

div#listInfo {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

input#listDescription {
  font-size: 16px;
}

button#saveList {
  float: right;
  background-color: #2EA44F;
  color: #eee;
}

button#saveList img {
  width: 20px;
}

label {
  word-wrap: break-word;
}

select.app-select {
  width: 30%;
}

div#quarter {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 10px;
}

div#quarter label, div#quarter select{
  display: inline-block;
  width: 100%;
}

div#quarter select{
  width: 20%;
}

div#soldiers{
	height: 56vh;
	overflow: auto;
}

button.remove-soldier{
	position: absolute;
  right: 10px;
  top: 30%;
  border: none;
  border-radius: 50%;
  background-color: #d75b49;
  color: #fff;
  width: 25px;
  height: 25px;
  padding-left: 5px;
  padding-top: 3px;
}

button.remove-soldier:hover{
	background-color: #d53720;
}
