div#listInfo {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

div#listInfo form, div.modal-content form {
  text-align: inherit;
  width: 100%;
  margin: auto;
}

input#listDescription {
  font-size: 16px;
}

button#saveList {
  float: right;
  background-color: #2EA44F;
  color: #eee;
}

button#saveList img {
  width: 20px;
}

label {
  word-wrap: break-word;
}

select.app-select {
  width: 30%;
}

div#quarter {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 10px;
}

div#quarter label, div#quarter select{
  display: inline-block;
  width: 100%;
}

div#quarter select{
  width: 20%;
}

div#addSoldiers{
  width: 100%;
  text-align: right;
}

form#soldierSearch input[type=text]{
	width: 94%;
	padding: 10px;
	float: left;
	margin: 0;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #ddd;
}

form#soldierSearch input[type=text]:focus{
	outline: none;
}

form#soldierSearch button{
	padding: 11px 11px;
	border: none;
	background-color: #ddd;
	border-radius: 0;
}

div.app-div-list:hover{
    background-color: #eee;
}

div#soldiers{
	height: 56vh;
	overflow: auto;
}

div#foundSoldiers {
    height: 400px;
    overflow: auto;
}

button.remove-soldier{
	position: absolute;
    right: 5px;
    top: 30%;
    border: none;
    border-radius: 50%;
    background-color: #d75b49;
    color: #fff;
    width: 25px;
    height: 25px;
    padding-left: 5px;
    padding-top: 3px;
}

div.soldier-info:hover{
	background-color: #ddd;
}

button.remove-soldier:hover{
	background-color: #d53720;
}

p.error{
	margin: 0;
}

div.disable-div {
  opacity: 0.6;
}

div#searchResultList {
    overflow: auto;
    height: 60vh;
}