<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="pagination" class="pagination-menu">
      <form method="GET" class="pagination-form" th:field="${paginationFilter}">
        <div class="page-count">
          <span class="counter" th:text="${paginationFilter.getPageCount()}"></span>
          <button class="previous-page">&lt;</button>
          <button class="next-page">&gt;</button>
        </div>
        <div class="search-bar">
          <input class="search-input app-txtinput" name="key" type="text" placeholder="Pesquisar...">
          <button class="search-btn" type="button">
            <img th:src="@{/images/search.svg}"/>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>