<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{group/layout}">
<head>
  <link th:href="@{/styles/dropdown.css}" type="text/css" rel="stylesheet" />
  <style>
    button#newList:hover, img.more:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div layout:fragment="content">
    <div>
      <h1 class="pageTitle">Relações de militares para sorteio</h1>
    </div>
    
    <div th:if="${session.listScope}">
      <button id="newList" class="app-green-btn">Nova Relação</button>
    </div>
    <hr />

    <div class="empty-list" th:if="${#lists.isEmpty(drawLists)}">
      <span>Não há listas cadastradas no sistema</span>
    </div>
    
    <div th:each="drawList : ${drawLists}">
      <div class="draw-list app-list">
        <div class="dropdown" th:if="${session.listScope}">
          <img class="more dropdown" th:src="@{/images/hmore.svg}" />
          <div class="dropdown-content"th:attr="data-listid=${drawList.id}">
            <a th:href="@{/gp/dw/list/edit/} + '' + ${drawList.id}">Editar</a>
            <a class="removeList" href="#">Remover</a> 
            <a class="duplicateList" href="#">Duplicar</a>
            <a class="duplicateList" target="_blank" th:href="@{/gp/dw/list/report/} + ${drawList.id}">Gerar Relatório</a>
          </div>
        </div>
        
        <div class="list-header">
          <p th:text="${drawList.prettyPrintListTitle()}"></p>
        </div>

        <div class="list-info">
          <p th:text="${drawList.prettyPrintListInfo()}"></p>
        </div> 
      </div>
    </div>

    <script layout:fragment="page-script" th:inline="javascript">
      const duplicateEndpoint = '[(@{/gp/dw/list/duplicate/})]';
      const removeEndpoint = '[(@{/gp/dw/list/remove/})]';
      const newEndpoint = '[(@{/gp/dw/list/new})]';
    </script>
    <script type="text/javascript" th:src="@{/scripts/group/draw-list/home.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/dropdown.js}"></script>
  </div>
</body>
</html>
