<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{group/layout}">
  
  <style layout:fragment="style">    
	span#listDescription{
	  font-size: 20px;
	}
    
    fieldset#saveEditSoldierFieldset {
      margin: 32px auto;
    }
    
    div.s-options{
      text-align: center;
    }
    
    div.s-options button{
      margin: 0 10px;
    }
    
    button.edit-soldier, button.add-draw-exclusion{
      background-color: #fff !important;
    }
    
    button img{
      width: 12px;
    }
    
    div#newSoldier{
        float: right;
    }
  </style>
  <body>
    <div layout:fragment="content">
      <div id="listInfo">
	      <span th:text="'[' + ${drawList.quarterYear} + ']' + ' ' + ${drawList.description}"></span>
      </div>
      <br />
      <div th:if="${session.listScope}">
        <a th:href="@{/gp/dw/list/edit/} + '' + ${drawList.id}">Editar lista</a>
      </div>
      <hr />
       
      <div id="paginationSearchMenu">
        <form method="GET" id="paginationForm">
	        <input id="selectedPage" name="selectedPage" type="hidden" th:value="${filter.selectedPage}"/>
	        <input id="firstResult" name="firstResult" type="hidden" th:value="${filter.firstResult}"/>
	        <input id="lastResult" name="lastResult" type="hidden" th:value="${filter.lastResult}"/>
	        <input id="total" name="total" type="hidden" th:value="${filter.total}"/>
	        
	        <div id="pages" class="pages">
	        </div>  
	        <div id="search">
	          <input id="searchInput" class="app-txtinput" name="key" th:value='${filter.key}' type="text" placeholder="Pesquisar...">
	          <input id="searchBtn" type="submit" value="buscar" class="app-green-btn">
	        </div>
	      </form>
        
        <script type="text/javascript" th:src="@{/scripts/pagination-search-list.js}"></script>
      </div>
      <br/><br/>
      
      <div th:if="${session.listScope}" id="newSoldier">
        <a th:href="@{/gp/sd/register}">Novo Militar</a>
      </div>
      <br/><br/>    
      
      <table id="soldiers">
        <thead>
          <tr>
            <th>Nome</th>
            <th>OM</th>
            <th>Posto</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="soldier : ${soldiersPagination.soldiers}">
            <td><span th:text="${soldier.getIdInfoAsText()}"></span></td>
            
            <td><span th:text="${soldier.militaryOrganization.alias}"></span></td>
            
            <td><span th:text="${soldier.militaryRank.alias}"></span></td>
            
            <td th:if="${session.listScope}">
              <div>
  	            <a style="float:left" th:href="@{/gp/sd/register/edit/} + ${soldier.id}">
  	              <img th:src="@{/images/edit-pencil.svg}"
  	                title="Editar informações do militar" /></a>
  	              
  	            <a style="float:right" th:href="@{/gp/sd/exclusion/} + ${soldier.id}">
  	              <img th:src="@{/images/new-plus.svg}" title="Gerenciar impedimentos"/></a>
              </div>
            </td>            
          </tr>
          
        </tbody>
      </table>
      
      <br/><br/>
      
      <button type="button" id="back" class="app-gray-btn">
        <span>Voltar</span>
      </button>
    </div>
    
    <script layout:fragment="page-script" th:inline="javascript">
      	const backBtn = document.querySelector("button#back");
  		backBtn.addEventListener("click", function(){
    		location.href = "[(@{/gp/dw/list})]";
    	});
    </script>
  </body>
</html>
