<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{group/layout}">
  <head>
    <link th:href="@{/styles/group/soldier-list.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/styles/modal-box.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/styles/pagination-search-list.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/styles/snackbar.css}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div layout:fragment="content">
      <div id="listInfo">
        <form id="formList" method="get" th:action="@{/gp/dw/list/new/save}" th:object="${drawList}">
          <input id="listId" name="id" type="hidden" th:field="*{id}" />          
          <div>
            <span class="error" style="display: none"></span> <br />
             <label>Descrição:</label><br />
            <input id="listDescription" th:field="*{description}" class="app-txtinput" type="text" placeholder="nome ou descrição..." />
          </div>
          
          <div id="quarter" th:if="${quarters != null}">
            <label>Trimestre:</label>
            <select class="app-select" th:field="*{yearQuarter}">
              <option th:each="quarter : ${quarters}" th:value="${quarter}" th:text="${quarter}"></option>
            </select>
          </div>  
        </form>
      </div>
      
      <div id="soldiersList">
        <div id="addSoldiers">
          <button type="button" id="openModalBtn" class="app-green-btn">+ Adicionar Militar</button>
        </div>  
        <div th:replace="fragments/pagination-menu :: pagination"></div>
        
        <hr />
        <div id="soldiers">
          <div th:each="soldier : ${soldiers}" class="app-div-list soldier-info">
            <input class="soldier-id" type="hidden" th:value="${soldier.id}"/>
            <p class="list-header" th:text="${soldier.idInfoAsText}"></p>
            <br />
            <p class="list-info" th:text="${soldier.oMAndRankAsText}"></p>
            <button class="remove-soldier" th:attr="data-soldierid=${soldier.id}">----</button>
          </div>
        </div>
        <br />
        <div>
          <button type="button" id="back" class="app-gray-btn">
            <span>Voltar</span>
          </button>
          <button type="button" id="saveList">
            <span>Salvar</span> <img id="loadCircle"
              th:src="@{/images/load-green.gif}" alt="carregando..." />
          </button>
        </div>
      </div>
      
      
      
      <!-- ======================================================================= -->
      <!-- ================Found soldiers modal=================================== -->
      <!-- ======================================================================= -->
      <div id="appModal" class="modal">
        <input type="hidden" id="addSoldierEndpoint" th:value="@{/gp/dw/list/add}" />
        
        <div class="modal-content">
          <span class="close">&times;</span>
          <h1>Lista Trimestral - Adição de Militares</h1>
          <hr />
          <div>
            <form id="soldierSearch" method="post" th:action="@{/gp/sd/search}">
              <input name="key" type="text" placeholder="nome ou email do militar..."/>
              <input id="selectedQuarter" name="yearQuarter" type="hidden" th:value="${drawList.yearQuarter}"/>
              <input id="listId" name="listId" type="hidden" th:value="${drawList.id}"/>
              <button type="button">
                <img th:src="@{/images/search.svg}"/>
              </button>
            </form>
          </div>
          <br />
          <div id="searchResultList">
          </div>
        </div>
      </div>
      
      <!-- ======================================================================= -->
      <!-- ================Base div to generate display found soldiers============ -->
      <!-- ======================================================================= -->
      <div id="baseListTuple" class="app-div-list soldier-info" style="display: none">
        <input class="soldier-id" type="hidden"/>
        <p class="list-header"></p>
        <br />
        <p class="list-info"></p>
        <button class="remove-soldier" style="display: none">----</button>
      </div>
      
      <!-- ======================================================================= -->
      <!-- ================Snack status bar======================================= -->
      <!-- ======================================================================= -->
      <div id="snackbar"></div>
      
      <script th:inline="javascript">
        const addSoldierEndpoint = '[(@{/gp/dw/list/add})]';
        const removeSoldierEndpoint = '[(@{/gp/dw/list/remove})]';
        
        const backBtn = document.querySelector("button#back");
        backBtn.addEventListener('click', function(){
          location.href = historyPop();
        });
      </script>      
      <script type="text/javascript" th:src="@{/scripts/modal-box.js}"></script>
      <script type="text/javascript" th:src="@{/scripts/snackbar.js}"></script>
      <script type="text/javascript" th:src="@{/scripts/group/soldier-list.js}"></script>
      <script type="text/javascript" th:src="@{/scripts/pagination-search-list.js}"></script>
      <script type="text/javascript" th:src="@{/scripts/group/soldier-search.js}"></script>
    </div>
  </body>
</html>
