<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      p#passoword{
        font-size: 14px;
        font-weight: bolder;
      }
    </style>
  </head>
  <body>
    <p>Para realizar o primeiro acesso no sistema utilize a senha gerada logo abaixo:</p>
    <div>
      <p id='password' th:text="${generatedPassword}"></p>
    </div>
    <div>
      <a href="https://www.srvforo11.com/sorteio">acesso ao sistema</a> 
    </div>
  </body>
</html>
