<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      @font-face {
        font-family: Roboto;
        src: url('Roboto-Regular.ttf') format('truetype');
      }
      
      p#passoword, p#username{
        font-size: 14px;
        font-weight: bolder;
      }
      
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body>
    <p>Para realizar o primeiro acesso no sistema utilize as credenciais geradas logo abaixo:</p>
    <div>
      <p>usuário:</p>
      <p id='username' th:text="${username}"></p>
      <br />
      <p>senha:</p>
      <p id='password' th:text="${generatedPassword}"></p>
    </div>
    <div>
      <a href="#" th:href="${appEndpoint}">acesso ao sistema</a> 
    </div>
  </body>
</html>
