<!-- TODO test recaptchav3 on localhost -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      @font-face {
        font-family: Roboto;
        src: url('Roboto-Regular.ttf') format('truetype');
      }
      
      p#password, p#username{
        font-size: 14px;
        font-weight: bolder;
      }
      
      h1{
        font-family: "Roboto", sans-serif;
        color: #4e4848;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
      }
      
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Redefinição de senha</h1>
      <hr />
    </div>
    <p>Uma redefinição de senha para o sistema de sorteio de juízes militares foi solicitada utilizando este e-mail.</p>
    <p>Para recuperar sua identidade, acesse o link logo abaixo:</p>
    <a th:href="@{${recoveryAddress}}">Redefinir identidade</a> 
  </body>
</html>
