<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div th:fragment="search-soldier-modal" id="searchSoldierModal" class="modal">
      <!-- ======================================================================= -->
      <!-- ================Soldier register modal=================================== -->
      <!-- ======================================================================= --> 
      <div th:replace="group/modal/soldier-register-modal :: soldier-register-modal"></div>
      
    
      <input type="hidden" id="addSoldierEndpoint" th:value="@{/gp/dw/list/add}" />
      
      <div class="modal-content">
        <span class="close">&times;</span>
        
        <h1>Lista Trimestral - Adição de Militares</h1>
        <hr />
        
        <div>
          <form id="soldierSearch" method="post" th:action="@{/gp/sd/search}">
            <input id="searchKey" type="text" placeholder="nome ou email do militar..." autocomplete="off"/>
            
            <button type="submit">
              <img th:src="@{/images/search.svg}"/>
            </button>
          </form>
        </div>
        
        <br />
        <div id="searchResultList"></div>
        
        <div id="newSoldierProfile">
          <a href="#">Criar novo perfil de militar</a>
        </div>
      </div>
    </div>
  </body>
</html>