.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: 2px 0;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel table {
  font-family: Roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.panel table td {
  font-size: 14px;
}

.panel table td, .panel table soldiers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.panel table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: #808080;
  font-weight: bold;
}

.panel table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.panel table tr:hover {
  background-color: #ddd;
}