div#soldierProfileModal div.app-list{
	padding: 4px;
}

div#soldierProfileModal div.app-list p {
	display: block;
}

div#soldierProfileModal div.app-list p.list-header{
	font-size: 12px;
  color: blue;
  letter-spacing: 2px;
}

input[type=date].app-dateinput {
  width: 20% !important;
  padding: 2px !important;
}

div#content textarea {
  font-family: "Roboto", sans-serif;
  width: 99%;
  height: 70px;
  border-color: #c5c7cb;
  font-size: 14px;
}

div#exclusions {
	margin-top: 50px;
}

button#addExclusion {
	float: right;
}